.button{
  inline-size: 14.625rem;
  padding-inline: 2rem;
  padding-block: .75rem;
  font: var(--body1-bold);
  color: var(--primary);
  background-color: #FF8E3C1A;
  border-radius: 5.625rem;
  border: none;

}

.button:hover{
  cursor: pointer;
  transform: scale(.98);
  background: var(--primary);
  color: var(--white);
  box-shadow: 1px 1px var(--black);
}

.buttonPrime{
  inline-size: 14.625rem;
  padding-inline: 2rem;
  padding-block: .75rem;
  font: var(--body1-bold);
  color: var(--white);
  background-color: var(--black);
  border-radius: 5.625rem;
  border: none;
}

.buttonPrime:hover{
    cursor: pointer;
    transform: scale(.98);
    background: var(--grey);
    color: var(--white);
    box-shadow:  1px 1px var(--black) ;
}

.button:active,
.buttonPrime:active{
  transform: scale(.9);
}

