.is-relevant {
  /* border: 1px solid red; */
  background: var(--primary);
  box-shadow: 0px 42px 34px rgba(82, 67, 194, 0.295755);
  border-radius: 26px;
  padding: 32px;
  transform: translateY(-50px);
  inline-size: 292px;

}

.is-relevant .popular{
  inline-size: 120px;
  background: #FFD5B6;;
  padding-block: 6px;
  padding-inline: 18px;
  font: var(--caption-bold);
  text-transform: uppercase;
  border-radius: 13.5px;
  text-align: center;
  align-self: flex-end;
}

.is-relevant .price span {
  font: var(--body1-regular);
  color: var(--black);
}

.is-relevant .description p {
  font: var(--body1-regular);
  color: var(--black);
}

.is-relevant .detail div {
  inline-size: 20px;
  block-size: 20px;
  background-image: url('../images/check-circle-1.png');
  background-size: cover;
}
