@import url('./plan-price.css');
@import url('./plan-description.css');
@import url('./plan-detail.css');
@import url('./plan-relevant.css');


.plan{
  /* border: 1px solid green; */
  inline-size: 14.625rem;
  block-size: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 1rem;
  border-radius: 1.625rem;
  padding: 2rem;
  background-color: var(--white);

}

.plan:nth-of-type(3){
  background-color: var(--primary);
}







